<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>管理员设置</title>

    <!-- 引入样式 -->

    <link rel="stylesheet" href="../plugins/elementui/index.css">

    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="hold-transition">

<div id="app">
    <header>
        <div id="header">
            <img src="../img/Microsoft.png">
            <span id="title">后台管理系统</span>
            <el-button style="float: right" round @click="exit">退出</el-button>
        </div>

        <el-menu
                :default-active="activeIndex2"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1"><a href="../pages/index.html" target="_self">首页</a></el-menu-item>
            <el-menu-item index="2"><a href="../pages/userManage.html" target="_self">用户管理</a></el-menu-item>
            <el-menu-item index="3"><a href="../pages/administrator.html" target="_self">管理员设置</a></el-menu-item>
            <el-menu-item index="4"><a href="../pages/artManage.html" target="_self">文章管理</a></el-menu-item>
            <el-menu-item index="5"><a href="../pages/infoManage.html" target="_self">信息管理</a></el-menu-item>
            <el-menu-item index="6"><a href="../pages/linkManage.html" target="_self">链接管理</a></el-menu-item>
        </el-menu>
    </header>
    <div id="user" class="app-container">
        <div class="box">
            <div class="filter-container">

                <el-input placeholder="账号" v-model="pagination.queryString" style="width: 200px;"></el-input>

                <el-button type="primary" icon="el-icon-search" circle @click="getAll()" class="dalfBut" title="查询"></el-button>

                <el-button type="primary" icon="el-icon-plus" round class="butT" @click="handleCreate()" style="float: right" title="新增"></el-button>

            </div>

            <el-table size="small" :data="adminTable" stripe highlight-current-row style="width: 100%">
                <el-table-column prop="admin_name" label="账号" align="center"></el-table-column>
                <el-table-column prop="password" label="密码" align="center"></el-table-column>
                <el-table-column prop="name" label="管理员" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <temlate slot-scope="scope">
                        <el-button type="primary" icon="el-icon-edit" size="mini" @click="handleUpdate(scope.row)" title="编辑"></el-button>
                        <el-button type="danger" icon="el-icon-delete" size="mini" @click="handleDelete(scope.row)" title="删除"></el-button>
                    </temlate>
                </el-table-column>
            </el-table>

            <!-- 新建弹层 -->
            <div class="add-form">

                <el-dialog title="添加管理员" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="80px">
                        <el-form-item label="账号" prop="admin_name">
                            <el-input v-model="formData.admin_name"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="password">
                            <el-input v-model="formData.password"></el-input>
                        </el-form-item>
                        <el-form-item label="管理员" prop="link_desc">
                            <el-input v-model="formData.name"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">

                        <el-button @click="dialogFormVisible = false">取消</el-button>

                        <el-button type="primary" @click="handleAdd()">确定</el-button>

                    </div>
                </el-dialog>

            </div>

            <!-- 编辑标签弹层 -->

            <div class="add-form">

                <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">

                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="80px">
                        <el-form-item label="账号" prop="admin_name">
                            <el-input v-model="formData.admin_name"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="password">
                            <el-input v-model="formData.password"></el-input>
                        </el-form-item>
                        <el-form-item label="管理员" prop="name">
                            <el-input v-model="formData.name"></el-input>
                        </el-form-item>
                    </el-form>

                    <div slot="footer" class="dialog-footer">

                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>

                        <el-button type="primary" @click="handleEdit()">确定</el-button>

                    </div>

                </el-dialog>

            </div>
        </div>
    </div>
</div>


<!-- 引入组件库 -->

<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script type="text/javascript" src="../js/jquery.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>

<script>
    var app = new Vue({
        el:'#app',
        data:{
            pagination: {},
            adminTable:[],
            formData: {},
            dialogFormVisible:false,
            dialogFormVisible4Edit:false,
            rules:{
                admin_name:[
                    {required:true,message:'请输入账号',trigger:'blur'},
                    {message: "用户名只能包含数字和字母,且长度在4-8字符",trigger: 'blur',pattern:/^[a-z0-9]{4,8}$/},
                ],
                password:[
                    {required:true,message:'请输入密码',trigger:'blur'},
                    {message: "密码只能包含数字和字母,且长度在4-8字符",trigger: 'blur',pattern:/^[a-z0-9]{4,8}$/},
                ],
                name:[
                    {required:true,message:'请输入管理员名称',trigger:'blur'}
                ],
            }
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.getAll();
        },

        methods: {
            //列表
            getAll(){
                axios.get("/admins").then((res)=>{
                    this.adminTable = res.data.data;
                })
            },

            //弹出添加窗口
            handleCreate(){
                this.dialogFormVisible = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },

            //添加
            handleAdd() {

                this.$refs.dataAddForm.validate().then(() =>{
                    axios.post("/admins", this.formData).then((res) => {
                        //如果操作成功。关闭弹层，显示数据
                        if (res.data.code == 20011) {
                            this.dialogFormVisible = false;
                            this.$message.success("添加成功");
                        } else if (res.data.code == 20010) {
                            this.$message.error("添加失败");
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    }).finally(() => {
                        this.getAll();
                    });
                }).catch(() => {
                    this.$message.error("添加失败");
                })


            },

            //弹出编辑窗口
            handleUpdate(row) {
                //查询数据，根据id查询
                //展示弹层，加载数据
                axios.get("/admins/" + row.admin_id).then((res) => {
                    if (res.data.code == 20041) {
                        this.formData = res.data.data;
                        this.dialogFormVisible4Edit = true;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });
            },

            //编辑
            handleEdit() {
                axios.put("/admins", this.formData).then((res) => {
                    //如果操作成功。关闭弹层，显示数据
                    if (res.data.code == 20031) {
                        this.dialogFormVisible4Edit = false;
                        this.$message.success("修改成功");
                    } else if (res.data.code == 20030) {
                        this.$message.error("修改失败");
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    this.getAll();
                });
            },

            // 删除
            handleDelete(row) {
                //1.弹出提示框
                this.$confirm("确定要删除吗？", "提示", {
                    type: 'info'
                }).then(() => {
                    //2.删除业务
                    axios.delete("/admins/" + row.admin_id).then((res) => {
                        if (res.data.code == 20021) {
                            this.$message.success("删除成功");
                        } else {
                            this.$message.error("删除失败");
                        }
                    }).finally(()=>{
                        this.getAll();
                    });
                }).catch(() => {
                    //3.取消删除操作
                    this.$message.info("取消删除");
                });
            },

            exit(){
                window.location.href="../pages/main.html"
            }
        }
    })
</script>

<style>
    #header{
        padding: 10px;
    }

    #title{
        font-size: 30px;
        font-weight: 900;
        margin-left: 5%;

    }

    #user{
        padding: 10px;
    }
</style>
</body>
</html>